.login {
    position: relative;
    display: flex;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.05) 50%, transparent);
    @include media-breakpoint-up(md) {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.95) 50%, transparent);
    }

    .bg-fixed {
        @include media-breakpoint-down(md) {
            opacity: 0.2;
        }
    }
    .bg-fixed > div {
        background-position: right bottom;
    }
}
.bg-login {
    background-image: url(../images/login_bg.png);
}